@import url('../../index.css');

.base-display-outer {
    width: 100%;
    height: 12%;
}

.base-display {
  width: 98%;
  margin-left: 1%;
  height: 100%;
  border: 1px solid black;
  border-radius: 16px;
  background-color: var(--background-color);
  display: flex;
}

.display-title-test {
  margin: 0rem;
  position: absolute;
  text-align: center;
  width: 260px;
  top: calc(24px + 56vh);
  right: 5vw;
  transform-origin: bottom right;
  font-size: calc(18px + 0.8vw);
  color: var(--color);
  
  /* Rotate from top left corner (not default) */
  transform: rotate(90deg);
}

.display-title {
  margin: 0rem;
  text-align: center;
  font-family: 'Minecraft2';
  font-size: calc(18px + 0.8vw);
  color: var(--color);
}

.buttons-container {
  display: flex;
  justify-content: left;
  height: 100%;
  gap: 1vw;
}

.feature-button {
  cursor: pointer;
  padding: 2% 0%;
  min-width: fit-content;
  background-image: url('../../images/MinecraftButtonColor.png');
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
  font-family: 'Minecraft2';
  font-size: calc(10px + 0.8vw);
  color: white;
  text-shadow: 2px 2px #404040;
}

.feature-button:active {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

.feature-button:hover {
  color: #FFFFA0;
}

.query-option-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  flex-wrap: wrap;
}

.query-option-box {
  width: calc(12px + 0.2vw);
  height: calc(12px + 0.2vw);
  background-color: white;
  border: 1px solid white;
  border-radius: 33%;
  cursor: pointer;
}

.query-option {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  gap: 8px;
  color: var(--color);
  padding: 0% 4%;
}

@media (max-width: 820px) {
  .display-title-test {
    display: none;
  }
}