@import url('../../index.css');

.leaderboards-outer {
    width: 65%;
    height: 70vh;
    padding: 2vh 1vw;
}

.leaderboards {
    width: 100%;
    height: calc(70vh - 15px);
    border: 1px solid black;
    border-radius: 16px;
    background-color: var(--background-color);
}

.leaderboard-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.sort-icons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
}

.ball {
    width: 2vw;
    height: 2vw;
    border: 2px solid black;
    border-radius: 8px;
}

.ball-hostile {
    background-color: blue;
}

.ball-passive {
    background-color: green;
}

.ball-crops {
    background-color: rgb(104, 73, 17);
}

.ball-meat {
    background-color: maroon;
}

.ball-fish {
    background-color: blue;
}