@import url('../../index.css');

.leaderboards-outer {
    width: 65%;
    height: 70vh;
    padding: 2vh 1vw;
}

.leaderboards {
    width: 100%;
    height: calc(70vh - 15px);
    border: 1px solid black;
    border-radius: 16px;
    background-color: var(--background-color);
}