@import url('../../index.css');

.leaderboards-outer {
    width: 65%;
    height: 70vh;
    padding: 2vh 1vw;
}

.leaderboards {
    width: 100%;
    height: calc(70vh - 15px);
    border: 1px solid black;
    border-radius: 16px;
    background-color: var(--background-color);
}

.leaderboard-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.sort-icons {
    padding-right: 10px;
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

.display-results {
    display: flex;
}

.ball {
    width: 2vw;
    height: 2vw;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.ball:hover {
    box-shadow: 0px 0px 4px 1px gray;
}

.ball-zombie {
    background-color: #27531E;
}

.ball-creeper {
    background-color: #34C217;
}

.ball-skeleton {
    background-color: #E2EAE1;
}

.ball-enderman {
    background-color: #2D0852;
}

.ball-cow {
    background-color: #FFFFFF;
}

.ball-sheep {
    background-color: #464B4F;
}

.ball-chicken {
    background-color: #F8F8F8;
}

.ball-pig {
    background-color: #D550B7;
}

.ball-carrot {
    background-color: #EC6E05;
}

.ball-baked {
    background-color: #AE815C;
}

.ball-potato {
    background-color: #89684D;
}

.ball-bread {
    background-color: #8E4E1A;
}

.ball-steak {
    background-color: #f9906f;
}