.tabItem {
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  font-family: 'Minecraft', sans-serif;
  font-size: calc(10px + 1vw);
  width: 2.5vw;
  height: 2.5vw;
  min-width: fit-content;
  border-radius: 8px;
  place-self: center;
  color: white;
}

.tab-title {
  text-shadow: 2px 2px #404040;
}

.tabItem:hover .tab-title {
  color: #FFFFA0;
}

.tooltip {
  position: absolute;
  left: 10%;
  padding: 8px 16px;
  background-color: #121212;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
}

.active-button {
  background-color: #636363;
  border: 2px solid #121212;
  color: #FFFFA0;
}